:root{
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}
body{
    margin: 0;
    background-color: black;
    height: 100vh;
    overflow: hidden;
    width: 100%;
}

.container{
    display: flex;
    height: 100vh;
    overflow: hidden;
    flex-direction: column;
    z-index: 1;
    background-color: #18191a;
}
.main-profile{
    z-index: 0;
    position: relative;
    background-color:#242526;
    min-height: 70vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;



}
.bg-image{
    display: flex;
   justify-content: center;
   align-items: center;
}
.bg-photo{
    z-index: 2;
    position: relative;
    height: 500px;
    width:1200px;
    border-radius: 8px;
    object-fit: cover;

}
.photo-bg{
    display: block;
    position: absolute;
    z-index: 1;
    height: 500px;
    width:100%;
    filter: blur(20px);
    -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));

 
}
.profile-image{
    z-index: 2;
    border-radius: 50%;
    transform: translateY(-2.5rem);
    border: 6px solid #242526;
}

@media (max-width: 600px) {
   
  }